body {
    background-color: red;
}

div {
    font-size: x-large;
    text-align: center;
}

div::after {
content: "welcome to the  demo"
}

@media (400px <= width <=776px){
    body {
        background-color: black;
        color: aqua;
    }
    body::after{
        content: 'mid size testing'
    }
}

@media (max-width: 400px) {
    body {
        background-color: white;
    }
div::after{
    content: 'very small'
}

}

@media (min-width: 768px) {
    /* if viewport is atleast 900px then this dtyle will apply */
    body{
        background-color: violet;
    }
    div::after{
    content: 'smaller screen'
}
}

@media (min-width: 900px) {
    /* if viewport is atleast 900px then this dtyle will apply */
    body{
        background-color: aquamarine;
    }
    div::after{
    content: 'woah its working'
}
}